jenkins:
  systemMessage: 'Jenkins configured by Configuration as Code'

  securityRealm:
    local:
      allowsSignup: false

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
